<% provide :title, t("static_pages.contact") %>
<h1><%=t".title"%></h1>
<p>  
  <%= raw t(".railstutorialcontact", tut: link_to(t(".railstutorialcontacttut"), "http://www.railstutorial.org/contact")) %>
</p>
