<% provide :title, t("static_pages.contact") %>
<h1><%=t".title"%></h1>
<p>  
  <%= raw t(".railstutorialcontact", tut: link_to(t(".railstutorialcontacttut"), "http://www.railstutorial.org/contact")) %>
<<<<<<< 988e2ac434f35e7f85cc604b24fe0190fafeab65
</p>
=======
</p>
>>>>>>> Finish static pages
